<% if (post.comments && config.disqus.enable && config.disqus.count) { %>
  <span class="comments-count">
    <span class="post-meta-divider">|</span>
    <span class="post-meta-item-icon">
      <i class="fas fa-comment"></i>
    </span>
    <a
      href="<%- post.permalink %>#disqus_thread"
      class="article-comment-count"
      data-disqus-identifier="<%= post.path %>"
      itemprop="discussionUrl">
    </a>
  </span>
<% } %>
